<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.syluanit.bookingticket_guest">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:name=".Service.Customfontapp" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Home"
            android:label="" />
        <activity android:name=".Activity.RouteActivity" />
        <activity android:name=".Activity.So_Do_Cho_Ngoi_Activity" />
        <activity android:name=".Activity.Dang_Nhap_Activity" />
        <activity android:name=".Activity.Dang_Ky_Activity" />
        <!-- <activity -->
        <!-- android:name=".Activity.Home" -->
        <!-- android:label="@string/title_activity_home" -->
        <!-- android:theme="@style/AppTheme"></activity> -->
        <activity android:name=".Activity.Chon_Dia_Diem" />
        <activity android:name=".Activity.Fill_Customer_Info_Form" />
        <activity android:name=".Activity.Lay_Lai_Mat_Khau" />
        <activity android:name=".Activity.TicketBookingInfo" />
        <activity android:name=".Activity.UserInfo" />
        <activity android:name=".Activity.BookingHistory" />
        <activity android:name=".Activity.EditInfoForm" />
        <activity android:name=".Activity.ChangePasswordForm" />
        <activity android:name=".Activity.TravelHistory" />
        <activity android:name=".Activity.Contact" />
    </application>

</manifest>